@import bourbon
@import fonts.sass
@import vars.sass



body
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden
	color: #222

h1, h2, h3, h4, h5, h6
	font-family: "OpenSansLight", sans-serif
	font-weight: normal

h1
	font-size: em(43)


h2
	font-size: em(34)


h3, h4
	font-family: "OpenSansSemiBold", sans-serif
	text-transform: uppercase
	font-size: em(17)

h4
	font-size: em(15)

.hidden
	display: none

.main-head
	background-image: url("img/bg_top.jpg")
	background-size: cover
	background-position: center top
	min-height: 100vh
.menu-line
	padding-top: 48px
.logo 
	display: block
	width: 98px
	img
		width: 100%
.main-nav 
	text-align: center
	font-size: em(15)
	.nav-list 
		list-style-type: none
		padding: 0
		margin: 0
		li 
			display: inline-block
			a
				padding: 10px 18px
				display: block
				color: #7e91a4
				@extend .mt
				&:hover 
					color: $blue
			&.active
				a
					color: $blue
					text-decoration: underline
.phone
	text-align: right
	.phone-wrap
		font-family: "Exo2Bold",sans-serif
		font-size: em(22)
		color: $blue
		.fa
			font-size: em(27)
			vertical-align: middle
			margin-bottom: 2px
			margin-right: 5px
	.phone-callback 
		color: #7e91a4
		font-size: em(15)
		border-bottom: 1px dashed #7e91a4
		@extend .mt
		&:hover
			text-decoration: none
			border-bottom-color: transparent


.header-content 
	padding: 9% 0px
	h1
		margin-top: 0
		line-height: 1.2
	.header-content-list
		li
			line-height: 1.8
			list-style: none
			font-family: "OpenSansSemiBold",sans-serif
	.button 
		margin-top: 30px
		background-color: $btn
		letter-spacing: 1px
		font-size: 14px
		color: #fff
		padding: 10px 28px
		border: none
		border-radius: 2px
		box-shadow: 0 4px 0 darken($btn, 10%)
		outline: none
		display: inline-block
		text-decoration: none
		cursor: pointer
		user-select: none;
		text-transform: uppercase
		+transition(.2s)
		&:hover 
			background-color: darken($btn, 10%)
		&:active
			transform: translateY(2px)

	.resp-img
		max-width: 100%

			


